N 39.0 251.0 "Central"
N 388.0 74.0 "Authentication server"
N 62.0 34.0 "BOB"
N 468.0 107.0 "H"
N 300.0 300.0 "This is a Long one......... How did it do?"
C "Central" R "Authentication server" L
C "BOB" B "Authentication server" L
C "BOB" B "Authentication server" R
C "BOB" L "Central" T
C "Central" B "Authentication server" B
C "Authentication server" R "This is a Long one......... How did it do?" L
